trigger:
- main

variables:
  helmReleaseName: myazureappv1
  kubernetesNamespace: default
  imageTag: $(Build.BuildId)

stages:
- stage: Deploy
  displayName: Deploy to AKS
  jobs:
  - job: HelmDeploy
    displayName: Helm Upgrade
    pool:
#      vmImage: ubuntu-latest
      name: Default
    steps:
    - task: PowerShell@2
      displayName: Install kubectl (No admin)
      inputs:
        targetType: 'inline'
        script: |
          $kubectlDir = "$(Agent.TempDirectory)\kubectl"
          New-Item -ItemType Directory -Force -Path $kubectlDir | Out-Null

          $version = (Invoke-RestMethod -Uri "https://dl.k8s.io/release/stable.txt").Trim()
          $url = "https://dl.k8s.io/release/$version/bin/windows/amd64/kubectl.exe"
          Invoke-WebRequest -Uri $url -OutFile "$kubectlDir\kubectl.exe" -UseBasicParsing

          # Set a pipeline variable so we can use it in the next task
          Write-Host "##vso[task.setvariable variable=KUBECTL_DIR]$kubectlDir"

          # Ensure it's available in this step too
          $env:PATH = "$kubectlDir;$env:PATH"
          kubectl version --client
    - task: HelmInstaller@1
      displayName: Install Helm
      inputs:
        helmVersionToInstall: latest

    - task: HelmDeploy@0
      displayName: Deploy Helm chart
      env:
        PATH: "$(KUBECTL_DIR);$(PATH)"
      inputs:
        connectionType: Kubernetes Service Connection
        kubernetesServiceConnection: demo-aks-service-connection
        namespace: $(kubernetesNamespace)
        command: upgrade
        chartType: FilePath
        chartPath: myazureappv1
        releaseName: $(helmReleaseName)
        overrideValues: |
          image.tag=$(imageTag)
        valueFile: myazureappv1/values.myapp.yaml
        arguments: "--install --atomic"

