replicaCount: 2

image:
  repository: sureshintrospect1b.azurecr.io/myazureappv1
  tag: "latest"     # overridden by pipeline
  pullPolicy: IfNotPresent
imagePullSecrets:
  - name: acr-secret

service:
  type: LoadBalancer
  port: 80
  targetPort: 8080

readinessProbe:
  httpGet:
    path: /
    port: 8080
  initialDelaySeconds: 5
  periodSeconds: 10
  timeoutSeconds: 1
  failureThreshold: 3

livenessProbe:
  httpGet:
    path: /
    port: 8080
  initialDelaySeconds: 10
  periodSeconds: 10
  timeoutSeconds: 1
  failureThreshold: 3

ingress:
  enabled: false

resources: {}
